body {
    text-transform: uppercase;
    background-color: tomato;
    font-family: sans-serif;
    color: wheat;
}

form {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}

input,
textarea {
    display: block;
    margin: 10px auto;
    min-width: 200px;
    min-height: 20px;
    border: 1px solid wheat;
    background-color: transparent;
}

textarea {
    min-height: 150px;
}

input[value] {
    padding: 20px;
    box-sizing: border-box;
    color: wheat;
}
